@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<h1>Write a new post</h1>
<form action="/posts/create" method="POST">
    
    <label for="Message">Message: </label>
    <input type="text" name="Message" id="Message" maxlength="140"><br>
    
    <label for="ImageUrl">Image URL: </label>
    <input type="url" name="ImageUrl" id="ImageUrl"><br>
    
    <label for="UserId">User ID: </label>
    <input type="number" name="UserId" id="UserId"><br>
    
    <input type="submit" value="Submit">
    
</form>