@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}

<a href="/posts/create">Make a new post</a>

<table>
@foreach (var post in @Model.Posts)
{
    var altText = $"Profile picture of {post.PostedBy.DisplayName}";
    //Console.WriteLine(altText);
        <tr>
        <td><img src=@post.PostedBy.ProfileImageUrl alt=@altText> <b>@post.PostedBy.DisplayName:</b> @post.Message. @post.PostedAt.ToString("t")</td>
        </tr>
}
</table>