@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}
<main>
    <a href="/posts/create">Make a new post</a>

    <table>
        @foreach (var post in @Model.Posts)
        {
            var altText = $"Profile picture of {post.PostedBy.DisplayName}";
            //Console.WriteLine(altText);
            <tr>
                <td><img src=@post.PostedBy.ProfileImageUrl alt=@altText style="width:50px"> <b>@post.PostedBy.DisplayName:</b> @post.Message. @post.PostedAt.ToString("t")</td>
            </tr>
        }
    </table>
    @{
        string prevLink = $"/posts?pageNumber={Model.PageNumber - 1}&pageSize={Model.PageSize}";
        string nextLink = $"/posts?pageNumber={Model.PageNumber + 1}&pageSize={Model.PageSize}";
        if (Model.PageNumber > 0)
        {
            <a href=@prevLink>Prev</a>
        }
        var pagesRequired = (decimal) Model.TotalPosts / Model.PageSize;
        var lastPageNumber = (int) (Math.Ceiling(pagesRequired) - 1);
        // NB: lastPageNumber will not necessarily be correct if pageSize is changed and not reset to pageNumber = 0 
        if (Model.PageNumber < lastPageNumber)
        {
            <a href=@nextLink>Next</a>
        }
    }
</main>