table, th, td {
    border: 10px solid dodgerblue;
    border-collapse: separate;
    border-radius: 20px;
}
th, td {
    background-color: lightblue;
    padding: 15px;
}
body {
    background-color: dodgerblue;
}