/* Extra small devices (portrait phones, less than 430px) */
table, th, td {
    border: 4px solid dodgerblue;
    border-collapse: separate;
    border-radius: 20px;
    /*border-spacing:0 15px;*/
    text-align: center;
}

td + td {
    margin-left: 0;
    text-align: start;
}
th, td {
    
    padding: 15px;
    position: relative
}

tr {
    background-color: lightblue;
}

tr:nth-child(even) {
    background-color: lightskyblue;
}

body {
    background-color: dodgerblue;
}

.navbar-nav {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
}

.nav-list-item {
    height: 26px;
    margin-top: 3px;
}

.a-button {
    background-color: steelblue;
    box-shadow: 0 3px 0 blue;
    color: white;
    padding: 0.2em 0.5em;
    margin: 3px;
    /*position: relative;*/
    text-decoration: none;
    text-transform: uppercase;
    display: inline-flex;
}

a:hover {
    background-color: royalblue;
}

a:active {
    box-shadow: none;
    top: 3px;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bottom-right {
    bottom:5px;
    right:5px;
    position: absolute;
}

/* Small devices (landscape phones, 430px and up) */
@media (min-width: 430px) {
    .navbar-nav {
        flex-direction: row;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        
    }
}